@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa-Bold';
    src: url('../fonts/Nexa-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Nexa-Black';
    src: url('../fonts/Nexa-Black.otf');
    font-weight: bold;
    font-style: normal;
}
html,
body {
    width: 100%;
    height: 100%;
	background-image: url(../img/yt-bg-big_2.png);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

body {
    font-size: 12px;
    font-family: Nexa,'Helvetica Neue',Arial,sans-serif;
}

hr {
    max-width: 50px;
    border-color: #424242;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #009ACF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #eb3812;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nexa, 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.bg-primary {
    background-color: #f05f40;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.logo{
	padding: 0px 0 10px 0;
	max-width: 260px;
}

.nav>li>a{
	text-decoration: underline;
	color: #000;
	font-weight: bold;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
	border: none;
}
.nav{
	margin-right: 50px;
}
header {
    position: relative;
    width: 100%;
    min-height: 650px;
    text-align: center;
    color: #424242;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(31, 31, 31);
}

@media(min-width:768px) {
    header .header-content {
        padding: 0 50px;
    }

    header .header-content .header-content-inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}
.floating-label-form-group input, .floating-label-form-group textarea, .floating-label-form-group select {
    z-index: 1;
    position: relative;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    font-size: 1em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 15px;
    text-align: initial;
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}


/* Register Page */
.register{
	background-color: #ccc;
}
a.register{
	text-decoration: none;
}
a.register:hover{
	color: #fff;
}

.register-addon{
	padding: 6px 16px;
}
.inner_note{position: absolute; left: 270px; top: 15px; width: 200px; text-align: justify;}
.outer_note{position: relative; width: 0; height: 0;}



.btn-xl{
    padding: 5px;
	line-height: 25px;
	margin-top: 21px;
}
.form-group{
    margin-top: 0px;
	margin-bottom: 0px;
}
.btn-primary{
    background-color: #424242;
    border-color: #424242;
}
.btn-primary:hover{
    color: #fff;
    background-color: #232323;
    border-color: #232323;
}
.input-group-addon .icon{
	width: 21px;
	height: 21px;
}
.flag{
    width: 34px;
    height: 26px;
    background: url('../img/flags_full.png');
    margin: 0 0 0 8px;
}
.flag.flag-en{background-position: 71px 103px;}
.flag.flag-pt{background-position: 179px -77px;}
.flag.flag-es{background-position: 323px -365px;}
.flag.flag-mx{background-position: 287px -401px;}
.flag.flag-br{background-position: 359px -473px;}
.flag.flag-po{background-position: 323px -509px;}
.flag.flag-ch{background-position: 467px -365px;}
.flag.flag-co{background-position: 35px -257px;}

.index_msg{margin-top: 20px;}
.index_msg2{background-color: #FFEF00; font-family: 'Nexa-Black','Open Sans','Helvetica Neue', Arial, sans-serif;}
.navbar{margin-bottom: 5px;}
.modalDialog, .modalDialog-urlvideo, .modalDialog-uploadvideo, .modalDialog-uploadcv, .modalDialog-obrigar, .modalDialog-escolhas {
    position: fixed;
    top: -150px;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog-urlvideo > div, .modalDialog-uploadvideo > div, .modalDialog-uploadcv > div {
    width: 439px;
    position: relative;
    margin: 20% auto;
    padding: 10px 10px 15px 10px;
    background: #bbb;
}
.modalDialog:target, .modalDialog-urlvideo:target, .modalDialog-uploadvideo:target, .modalDialog-uploadcv:target, .modalDialog-obrigar:target, .modalDialog-escolhas:target {
    opacity: 1;
    pointer-events: auto;
}
header .header-content .header-content-inner .modalDialog-uploadcv p{
	font-size: 12px;
}
.university{
    font-weight:bold;
    color:#009ACF;
}

/* Record Page */
.video-holder{
	display: inline-block;
	width: 328px;
    height: 248px;
    margin: 0px auto;
    border: 3px dashed #DADADA;
    border-radius: 5px;
}

.twentypercent{width: 20%;display:inline-block;height:100%;margin:0 20px;}

#record_explanation{float:left;}
#record_explanation p{font-size: 12px; color: #949494; text-align:justify;}
#recordings_container{float:right;}
.record_radio{margin: 10px !important;}

#three_questions{padding: 10px 50px;}

#three_questions p{font-size: 12px; margin-top: 10px;}

.record_row{margin: 10px auto;}
#video_preview{top: -50px;}